@page
@model WebApplication1.Pages.timeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>time</title>
</head>
<body>
    <form method="post">


        <fieldset>
            <legend>Pick the days of the week</legend>
            @for (int i = 0; i < @Model.daysOfTheWeek.Length; i++)
            {
                <input asp-for=daySelected[i] />
                <label asp-for=daySelected[i]> @Model.daysOfTheWeek[i] </label>
            }

        </fieldset>

        <select asp-for=choosenMonths asp-items=Model.selectedMonths></select>

        @*<select asp-for=MonthsChosen asp-items=Model.MonthsSelectList></select>*@
        <button type="submit">Enter</button>
    </form>

    <ul>
        @for (int i = 0; i < @Model.daysOfTheWeek.Length; i++)
        {
            if (@Model.daySelected[i])
            {
                <li>@Model.daysOfTheWeek[i]</li>
            }
        }
    </ul>

    <ol>
            @for (int i = 0; i < @Model.choosenMonths.Length; i++)
            {
            <li>@Model.choosenMonths[i]</li>
            }
        </ol>

    @*<ol>
        @for (int i = 0; i < @Model.MonthsChosen.Length; i++)
        {

            <li>@Model.MonthsChosen[i]</li>
        }
    </ol>*@



</body>
</html>
